[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "~=2.4.0"
channels-redis = "~=2.4.2"
daphne = "~=2.4.1"
Django = "~=3.1.5"
django-celery-results = "~=1.2.1"
psutil = "~=5.7.0"
psycopg2 = "~=2.8.5"
pyOpenSSL = "~=19.1.0"
redis = "~=3.4.1"
service_identity = "~=18.1.0"
social-auth-app-django = "~=3.1.0"
sentry-sdk = "*"
django-extensions = "*"
ipython = "*"

[dev-packages]
flake8 = "~=3.8.4"
pylint = "~=2.5.3"
isort = "~=4.3.21"
black = "==19.10b0"
typed-ast = "~=1.4.1"  # Required by black, but Pipenv doesn't pull it in correctly on 3.8
autopep8 = "~=1.5.4"
mypy = "~=0.770"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
